@charset "UTF-8";

/*
Theme Name: Immune
Theme URI: https://codeandcreate.co.uk
Author: Code and Create
Author URI: https://codeandcreate.co.uk
Description: immune
Requires PHP: 5.6
Version: 1.0
Text Domain: codeandcreate

*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
	 ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
	margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
	display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
	font-size: 2em;
	margin: 0.67em 0;
  }
  
  /* Grouping content
	 ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
	 ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
	background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
	font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
	font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
  }
  
  sub {
	bottom: -0.25em;
  }
  
  sup {
	top: -0.5em;
  }
  
  /* Embedded content
	 ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
	border-style: none;
  }
  
  /* Forms
	 ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
	overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
	text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
	-webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
	padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
	vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
	overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
	height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
  }
  
  /* Interactive
	 ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
	display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
	display: list-item;
  }
  
  /* Misc
	 ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
	display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
	display: none;
  }


/* Code and Create 
	========================================================================== */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

.skip-link:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
} 

/* Fonts
	========================================================================== */
/* open-sans-regular - latin */

/* Variables
========================================================================== */
:root, *:before, *:after {
	/* Spacing */
	--global--space-gutenberg: 140px;
	--width: 80vw;
	--wide-width: 90vw;
	--full-width: 100vw;
	--mwidth:827px;
	--wide-mwidth:1134px;
	--full-mwidth: 100%;

	/* Font Family */
	--global--font-primary: 'Oswald', sans-serif;
	--global--font-secondary: 'Source Sans Pro', sans-serif;

	--body--font: var(--global--font-secondary);

	/* Font Size */
	--global--font-size-base: 1.0625rem;
	--global--font-size-xs: 1.0625rem; 
	--global--font-size-sm: 1.125rem; 
	--global--font-size-md: 1.25rem;
	--global--font-size-lg: 1.5rem;
	--global--font-size-xl: 2.25rem;
	--global--font-size-xxl: 4rem;
	--global--font-size-xxxl: 5rem;
	--global--letter-spacing: -0.03em;

	/* Line Height */
	--global--line-height-body: 1.7;
	--global--line-height-heading: 1;
	--global--line-height-page-title: 1;

	/* Headings */
	--heading--font-family: var(--global--font-primary);
	--heading--font-size-h6: var(--global--font-size-base);
	--heading--font-size-h5: var(--global--font-size-base);
	--heading--font-size-h4: var(--global--font-size-base);
	--heading--font-size-h3: 1.0625rem;
	--heading--font-size-h2: 1.875rem;
	--heading--font-size-h1: 6.875rem;
	--heading--letter-spacing: var(--global--letter-spacing);

	--heading--line-height-h6: var(--global--line-height-heading);
	--heading--line-height-h5: var(--global--line-height-heading);
	--heading--line-height-h4: var(--global--line-height-heading);
	--heading--line-height-h3: var(--global--line-height-heading);
	--heading--line-height-h2: var(--global--line-height-heading);
	--heading--line-height-h1: var(--global--line-height-page-title);

	--heading--font-weight: 400;
	--heading--font-weight-page-title: 600;
	--heading--font-weight-strong: 600;

	/* Colors */
	--global--color-black: #1D1D1D;
	--global--color-dark-gray: #28303d;
	--global--color-gray: #39414d;
	--global--color-light-gray: #f0f0f0;
	--global--color-orange: #e4dad1;
	--global--color-yellow: #FCFA43;
	--global--color-white: #fff;
	--global--color-white-50: rgba(255, 255, 255, 0.5);
	--global--color-white-90: rgba(255, 255, 255, 0.9);

	--global--color-primary: var(--global--color-white); /* Body text color, site title, footer text color. */
	--global--color-secondary: var(--global--color-yellow); /* Headings */
	--global--color-primary-hover: var(--global--color-primary);
	--global--color-background: var(--global--color-black);
	--global--color-border: var(--global--color-primary); /* Used for borders (separators) */

	/* Forms */
	--form--font-family: var(--global--font-secondary);
	--form--font-size: var(--global--font-size-sm);
	--form--line-height: var(--global--line-height-body);
	--form--color-text: var(--global--color-dark-gray); 
	--form--color-ranged: var(--global--color-secondary);
	--form--label-weight: 500;
	--form--border-color: var(--global--color-secondary);
	--form--border-width: 3px;
	--form--border-radius: 0;
	--form--spacing-unit: calc(0.5 * var(--global--spacing-unit));

	/* Cover block */
	--cover--height: calc(15 * var(--global--spacing-vertical));
	--cover--color-foreground: var(--global--color-white);
	--cover--color-background: var(--global--color-black);

	/* Buttons */
		/* Colors */
	--button--color-text: var(--global--color-background);
	--button--color-text-hover: var(--global--color-secondary);
	--button--color-text-active: var(--global--color-secondary);
	--button--color-background: var(--global--color-secondary);
	--button--color-background-hover: var(--global--color-background);
	--button--color-background-active: var(--global--color-background);
		/* Fonts */
	--button--font-family: 'Oswald', sans-serif;
	--button--font-size: var(--global--font-size-base);
	--button--font-weight: 600;
	--button--line-height: 1.5;
	--button--font-style: normal;
		/* Borders */
	--button--border-width: 0;
	--button--border-radius: 4px;
		/* Spacing */
	--button--padding-vertical: 15px;
	--button--padding-horizontal: calc(2 * var(--button--padding-vertical));
}

/* Mobile Variables
========================================================================== */
@media (max-width:749px){
	:root{
		/* spacing */
		--mwidth:70vw;
		--wide-mwidth: 80vw;
		--width: 100%;
		--wide-width: 100%;
		--full-width: 100%;
	}
}

/* Let's go
	========================================================================== */
*, *:before, *:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

html{
	font-family: var(--body--font);
	font-size: var(--global--font-size-base);
	line-height: var(--global--line-height-body);
	letter-spacing: var(--global--letter-spacing);
	color: var(--global--color-primary);
}

h1,h2,h3,h4,h5,h6{
	font-family: var(--heading--font-family);
	font-weight: var(--heading--font-weight);
	letter-spacing: var(--heading--letter-spacing);
	text-transform: capitalize;
}

h1{
	font-size: var(--heading--font-size-h1);
	font-size: clamp(70px, 12vw,var(--heading--font-size-h1));
	font-weight: var(--heading--font-weight-page-title);
    text-transform: uppercase;
}
h2{
	font-size: var(--heading--font-size-h2);
}
h3{
	font-size: var(--heading--font-size-h3);
}
h4{
	font-size: var(--heading--font-size-h4);
}
h5{
	font-size: var(--heading--font-size-h5);
}
h6{
	font-size: var(--heading--font-size-h6);
}

a{
	color: var(--global--color-blue);
}

.page-title,
.gutenberg-content > .page-header{
	margin-top:0;
	margin-bottom:0;
}

.wp-block-button .wp-block-button__link,
.button,
button {
  font-family: var(--button--font-family);
  font-style: var(--button--font-style);
  font-weight: var(--button--font-weight);
  font-size: var(--button--font-size);
  line-height: var(--button--line-height);
  border-radius: var(--button--border-radius);
  border-width: var(--button--border-width);
  color: var(--button--color-text);
  background: transparent;
  padding: 12px 60px 12px 16px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 300ms all;

  --color-background:var(--button--color-background);
  --color-hover:var(--button--color-background-hover);
  --hover-color: var(--button--color-text-hover)
}

.wp-block-button .wp-block-button__link:before{
	content:"";
    position:absolute;
    left:-100%;
    top:0;
    transition: all 300ms;
    background:white;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background-image: linear-gradient(
		to right,
		var(--color-hover) 50%,
		var(--color-background) 50%
	);
    width:200%;
    height:100%;
    z-index: -1;
}

.wp-block-button .wp-block-button__link:hover:before{
    left:0;
}

.wp-block-button .wp-block-button__link:not(.added)::after{
	content: "";
	position: absolute;
	width:16px;
	height:16px;
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 5.5C0.5 5.35268 0.5602 5.21139 0.667357 5.10722C0.774514 5.00305 0.91985 4.94452 1.07139 4.94452H14.5482L10.9519 1.44946C10.8446 1.34515 10.7843 1.20369 10.7843 1.05618C10.7843 0.908671 10.8446 0.767205 10.9519 0.662901C11.0592 0.558597 11.2047 0.5 11.3565 0.5C11.5082 0.5 11.6537 0.558597 11.761 0.662901L16.3321 5.10672C16.3853 5.15832 16.4276 5.21962 16.4564 5.2871C16.4852 5.35459 16.5 5.42694 16.5 5.5C16.5 5.57306 16.4852 5.64541 16.4564 5.7129C16.4276 5.78038 16.3853 5.84168 16.3321 5.89328L11.761 10.3371C11.6537 10.4414 11.5082 10.5 11.3565 10.5C11.2047 10.5 11.0592 10.4414 10.9519 10.3371C10.8446 10.2328 10.7843 10.0913 10.7843 9.94382C10.7843 9.79631 10.8446 9.65485 10.9519 9.55054L14.5482 6.05548H1.07139C0.91985 6.05548 0.774514 5.99695 0.667357 5.89278C0.5602 5.78861 0.5 5.64732 0.5 5.5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	top:calc(50% - 6px);
	right:20px;
}

/* Buttons */
/* Is Style Black Button */
.wp-block-button.is-style-black-button > .wp-block-button__link,
.is-style-black-button > * {
	background: transparent;
	border: none;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	margin-bottom: 61px;
	--color-background:var(--button--color-background-hover);
	--color-hover:var(--button--color-background);
	--hover-color: black;
}
.is-style-yellow-button:hover > *:after,
.is-style-black-button:not(:hover) > *:after{
	filter:invert();
}

/* Is Style Yellow Button */
.wp-block-button.is-style-yellow-button > .wp-block-button__link,
.is-style-yellow-button > * {
	background: transparent;
	border: none;
	color:black;
	font-weight: bold;
	border-radius: 4px;
	--color-background:var(--button--color-background);
	--color-hover:var(--button--color-background-hover);
	--hover-color: black;
}
.wp-block-button.is-style-yellow-button > .wp-block-button__link:hover,
.is-style-yellow-button > *:hover {
	color:white
}

/* Is Style White Button */
.wp-block-button.is-style-white-button > .wp-block-button__link,
.is-style-white-button > * {
	background: transparent;
	color: var(--global--color-black);
	border-radius: 10px;
	--color-background:var(--global--color-white);
	--color-hover:var(--button--color-black);
}

.is-style-black-button > *,
.is-style-yellow-button > *,
.is-style-white-button > *{
	position: relative;
}

.is-style-black-button  > *::after,
.is-style-yellow-button > *::after,
.is-style-white-button  > *::after{
	content: "";
	position: absolute;
	width:16px;
	height:16px;
	top:calc(50% - 6px);
	right:20px;
}
.is-style-black-button  > *:not(.added)::after,
.is-style-yellow-button > *:not(.added)::after,
.is-style-white-button  > *:not(.added)::after{
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 5.5C0.5 5.35268 0.5602 5.21139 0.667357 5.10722C0.774514 5.00305 0.91985 4.94452 1.07139 4.94452H14.5482L10.9519 1.44946C10.8446 1.34515 10.7843 1.20369 10.7843 1.05618C10.7843 0.908671 10.8446 0.767205 10.9519 0.662901C11.0592 0.558597 11.2047 0.5 11.3565 0.5C11.5082 0.5 11.6537 0.558597 11.761 0.662901L16.3321 5.10672C16.3853 5.15832 16.4276 5.21962 16.4564 5.2871C16.4852 5.35459 16.5 5.42694 16.5 5.5C16.5 5.57306 16.4852 5.64541 16.4564 5.7129C16.4276 5.78038 16.3853 5.84168 16.3321 5.89328L11.761 10.3371C11.6537 10.4414 11.5082 10.5 11.3565 10.5C11.2047 10.5 11.0592 10.4414 10.9519 10.3371C10.8446 10.2328 10.7843 10.0913 10.7843 9.94382C10.7843 9.79631 10.8446 9.65485 10.9519 9.55054L14.5482 6.05548H1.07139C0.91985 6.05548 0.774514 5.99695 0.667357 5.89278C0.5602 5.78861 0.5 5.64732 0.5 5.5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
}

.wp-block-button .wp-block-button__link:hover,
.button:hover,
button:hover{
	color: var(--hover-color);
	cursor: pointer;
}

.button:active,
button:active{
	color: var(--button--color-text-active);
	background: var(--button--color-background-active);
}


/* Gutenberg Colours */
.has-black-color {
	color: var(--global--color-black);
}
.has-yellow-color {
	color: var(--global--color-yellow);
}
.has-white-color {
	color: var(--global--color-white);
}
.has-extra-small-font-size{
	font-size: 15px;
}
.has-small-font-size{
	font-size: 17px;
}
.has-normal-font-size{
	font-size: 22px;
}
.has-large-font-size{
	font-size: 30px;
}
.has-extra-large-font-size{
	font-size: 40px;
}
.has-huge-font-size{
	font-size: 70px;
}
.has-gigantic-font-size{
	font-size: 110px;
}

.has-black-background-color {
	background-color: var(--global--color-black);
}
.has-yellow-background-color {
	background-color: var(--global--color-yellow);
}
.has-white-background-color {
	background-color: var(--global--color-white);
}

/* Header
=================================================*/

.masthead__inner{
	position: relative;
	padding:0 0 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: var(--wide-mwidth);
	width: var(--wide-width);
	margin:25px auto 0 auto;
}

/* 		Navigation
=================================================*/

.site-cta{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.site-cta > * {
	margin:0 6px;
}

.primary-navigation ul {
  display:flex;
  list-style: none;
  margin:0;
  padding:0;
}

.primary-navigation ul li a{
  text-decoration: none;
  padding: 0 16px;
}

#primary-mobile-menu{
	color:white;
	padding-bottom:0;
}

.primary-menu-container{
	max-width:100%;
	padding-right:0;
}

@media (min-width:900px){
	#primary-mobile-menu{
		display:none;
	}
	.primary-navigation-mobile{
		display:none !important;
	}
}

@media (max-width:900px){
	.menu-button-container{
		order: 10;
	}
}
.menu-button-container{
	padding: 0px 12px 12px 12px;
	position: relative;
	z-index: 10;
}
#primary-mobile-menu{
	background:none;
	border:none;
	cursor: pointer;
	padding:0;
}
#primary-mobile-menu > * {
	pointer-events: none;
}
#primary-mobile-menu .dropdown-icon svg{
	vertical-align: middle;
}
#primary-mobile-menu .dropdown-icon.close{
	display: none;
}

@media (max-width:900px){
	.primary-navigation{
		display: none;
	}
}
.primary-navigation-mobile{
	padding: 32px 0;
	position: sticky;
	background: var(--global--color-black);
	top: 124px;
	left: 0;
	width: 100%;
	z-index: 9;
	font-size: 1.4rem;
}
.primary-navigation-mobile ul{
	flex-direction: column;
	max-width: var(--wide-mwidth);
	width: var(--wide-width);
	margin:0 auto;
}
.primary-navigation-mobile ul li a {
	padding:.5rem 0;
	display: block;
	font-family: var(--global--font-primary);
	text-align: left;
	font-weight:700;
}

/* Alignments 
=======================================*/
.gutenberg-content > * {
  max-width: var(--mwidth);
  margin: var(--global--space-gutenberg) auto;
  width: var(--width);
}

.gutenberg-content .alignwide {
  max-width: var(--wide-mwidth);
  margin: 0 auto;
  width: var(--wide-width);
}

.gutenberg-content .alignfull{
  max-width: var(--full-mwidth);
  margin: 0 auto;
  width: var(--full-width)
}

.gutenberg-content > .alignfull,
.gutenberg-content > .alignwide {
	margin: var(--global--space-gutenberg) auto;
}
.gutenberg-content > .wp-block-create-block-immune-hero,
.gutenberg-content > .wp-block-cover:first-child{
	margin-top:0;
}


.site-footer a {
	text-decoration: none;
}

/* Footer
=================================================*/
.footer__inner{
	padding: 64px 0;
	max-width: var(--wide-mwidth);
	margin:0 auto;
	width: var(--wide-width)
}

@media (max-width: 749px){
	.footer__inner{
		display: block;
	}
}

.footer__inner > .footer__row{
	width:100%;
}

@media (min-width:900px){
	.footer__inner > .footer__row:last-child{
		margin-top:40px;
	}
}

@media (max-width:900px){
	.footer__col{
		margin: 40px 0 0 0;
	}
}

.footer__navigation-wrapper {
	display: flex;
	list-style: none;
	padding:0;
	margin:0 0 1rem 0;
}
.footer__navigation-wrapper li a{
	font-weight: bold;
}
.footer__navigation-wrapper li a:after{
	content:".";
	padding-right: 0.1rem;
}

.footer_payment-methods{
	margin-top:1.5rem;
}

.footer__row {
	display: flex;
  }
  
.footer__row .footer__col{
	width:100%;
}

.footer_payment-methods{
	display: flex;
	justify-content: right;
}

.footer_payment-method{
	padding: 10px 0;
	margin-right: 15px;
}

.footer__widgets .widget-title{
	margin:0;
	font-family: Oswald;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 17px;
	letter-spacing: -0.03em;
	text-transform: uppercase;
}
.footer__widgets ul.menu li a{
	padding: 12px 0;
	display: block;
}

.footer-newsletter-title{
	margin-top:0;
	font-family: var(--heading--font-family);
	font-weight: var(--heading--font-weight);
	letter-spacing: var(--global--letter-spacing);
	font-size: 17px;
	text-transform: uppercase;
}

@media (min-width:900px){
	.footer-newsletter-cols{
		display:flex;
	}
	.footer-newsletter-cols > * {
		width:100%;
	}
}
/* Cards */

.card{
	border: 2px solid #000;
	border-radius: 24px;
}

.is-style-card-white,
.card-white{
	color: var(--global--color-black);
	background: var(--global--color-white);
	border: 2px solid var(--global--color-red);
	border-color: var(--global--color-red);
	border-radius: 8px;
	padding: 10px;
}

.wp-block-columns.is-style-no-padding{
	padding:0;
}

.wp-block-spacer.is-style-negative{
	margin-top:-220px;
	height:0 !important;
}

.wp-block-embed.is-style-rounded {
	max-width: var(--mwidth);
	padding:5%;
	margin-left: auto;
	margin-right: auto;
}
.wp-block-embed.is-style-rounded iframe {
	border: 1px solid var(--global--color-blue);
	box-sizing: border-box;
	filter: drop-shadow(0px 24px 100px rgba(2, 28, 52, 0.7));
	border-radius: 24px;
}

.wp-block-image img {
    max-width: 100%;
    height: auto;
}

/* Alerts 
==================================*/
.alert-shortcode{
	padding:22px 33px;
	max-width: 673px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.alert-shortcode.is-style-card-blue, 
.alert-shortcode.is-style-card-blue a{
	color:white;
}
.alert-shortcode__close{
	background:none;
	border:none;
	cursor: pointer;
	padding:5px;
}
.alert-shortcode__closeIcon{
	pointer-events:none;
}

@media (max-width:749px){
	.alert-shortcode{
		flex-direction: column;
		text-align: center;
		width:80vw;
		padding:10px 15px 30px 15px;
	}
	.alert-shortcode.is-style-card-blue > span,
	.alert-shortcode.is-style-card-blue > a{
		order:2;
	}
	.alert-shortcode__close{
		align-self: flex-end;
		order:1;
	}
}

/* Util 
============================*/
/** Display 
============================*/
.d-flex{
	display:flex;
}
.d-block{
	display:flex;
}
.d-inline-flex{
	display:inline-flex;
}
.d-inline-block{
	display:inline-block;
}
.d-none{
	display:none;
}
/** Flex 
============================*/
.flex-wrap{
	flex-wrap: wrap;
}
.flex-nowrap{
	flex-wrap: nowrap;
}
/** Alignments 
============================*/
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.justify-around{
	justify-content: space-around;
}
.justify-evenly{
	justify-content: space-evenly;
}
.justify-start{
	justify-content: flex-start;
}
.justify-end{
	justify-content: flex-end;
}
.align-center{
	align-items: center;
}
.align-start{
	align-items: flex-start;
}
.align-end{
	align-items: flex-end;
}
/** Margins
============================*/
.mt-0{
	margin-top:0 !important;
}
.mr-0{
	margin-right:0 !important;
}
.ml-0{
	margin-left:0 !important;
}
.mb-0{
	margin-bottom:0 !important;
}

.m-auto{
	margin: 0 auto;
}

.home-header{
	margin-top:0;
}

.header-space {
	line-height: 12px;
}

.can-img{
	display:grid;
	grid-template-columns: repeat(4, 240px);
	padding-bottom: 64px;
}

/* .images-header{
	position: relative;
	right:25vw;
} */

@media(max-width:749px){
	.fortify-column{
		max-width: 75vw !important;
	}
}

/* @media(max-width:749px){
	.fortify-main{
		padding:0 !important;
	}
}

@media(max-width:749px){
	.header-fortify {
		padding:0 !important;
	}
} */

.header-fortify{
	margin: 0;
}

.review-header{
	padding-top:30px;
}

.immune-reviews{
	color: var(--global--color-black);
}
.immune-reviews-arrows {
	position: relative;
	display:flex;
}
.immune-reviews-arrows button{
	position:relative;
	left:auto;
	top:auto;
	bottom:auto;
	right:auto;
	border:0;
	background:white;
	border-radius:8px;
	width:42px;
	height:42px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 5.5C0.5 5.35268 0.5602 5.21139 0.667357 5.10722C0.774514 5.00305 0.91985 4.94452 1.07139 4.94452H14.5482L10.9519 1.44946C10.8446 1.34515 10.7843 1.20369 10.7843 1.05618C10.7843 0.908671 10.8446 0.767205 10.9519 0.662901C11.0592 0.558597 11.2047 0.5 11.3565 0.5C11.5082 0.5 11.6537 0.558597 11.761 0.662901L16.3321 5.10672C16.3853 5.15832 16.4276 5.21962 16.4564 5.2871C16.4852 5.35459 16.5 5.42694 16.5 5.5C16.5 5.57306 16.4852 5.64541 16.4564 5.7129C16.4276 5.78038 16.3853 5.84168 16.3321 5.89328L11.761 10.3371C11.6537 10.4414 11.5082 10.5 11.3565 10.5C11.2047 10.5 11.0592 10.4414 10.9519 10.3371C10.8446 10.2328 10.7843 10.0913 10.7843 9.94382C10.7843 9.79631 10.8446 9.65485 10.9519 9.55054L14.5482 6.05548H1.07139C0.91985 6.05548 0.774514 5.99695 0.667357 5.89278C0.5602 5.78861 0.5 5.64732 0.5 5.5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A")
}
.immune-reviews-arrows button:first-child{
	transform: matrix(-1, 0, 0, 1, 0, -21);
	margin-right:4px;
}
.immune-reviews{
	background-image:linear-gradient(#FCFA43, #FFD600);
	max-width:100%;
	margin: 0 0;
	width: 100%;
	overflow:hidden;
	padding:96px 0;
}
.immune-reviews-wrapper{
	display: flex;
	flex-direction: column;
	margin:0 auto;
	max-width: 400px;
	justify-content:center;
	align-items:flex-start;
}

@media(max-width:900px){
	.immune-reviews-wrapper{
		max-width: var(--wide-mwidth);
		width: var(--wide-width);
	}
}

.immune-reviews-title{
	font-family: Oswald;
	font-style: normal;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	margin-top:0;
}

.immune-review-glide .glide__slides{
	white-space: unset;
}

.glide__arrow{
	border:none !important;
	box-shadow: none !important;
}

.site-footer{
	color:var(--global--color-white);
}

.clear{
	padding:10px 10px;
}

.products-list{
	display: flex;
	flex-direction:column;
	padding:10px;
}
.products-info{
	text-align: center;
}

.info-list{
	display: flex;
	flex-direction:column;
	padding:10px;
}

.home-tree{
	display:flex;
	justify-content: center;
}

.home-info{
	max-width: 50vw;
}

.affiliate-card{
	max-width:30vw;
}

.immune-kaizen {
	max-width:100%;
	margin:0;
	width:100%;
	display:flex;
	justify-content:center;
	border-radius:0;
}

.immune-kaizen img{
	margin-top:30px	
}

.kaizen-cycle-main{
	width:20em;
}

@media(max-width:749px){
	.kaizen-container{
		max-width: 100%;
		width:100%;
	}	
}

.kaizen-rituals{
	display: flex;
    justify-content: center;
}
.kaizen-rituals > * {
	width:100%;
}
@media (max-width: 1134px) {
	.kaizen-rituals{
		flex-direction: column;
	}
}
.kaizen-rituals .mc-field-group{
	display:flex;
	flex-direction: column;
}
.kaizen-rituals-main{
	margin-right: 5em;
	margin-left: 2vw;
}

.kaizen-rituals-main p{
	padding-bottom: 20px;
	font-size: 22px;
}

#mc_embed_signup-kaizen{
	padding-top:45px;
}
#mc_embed_signup-kaizen label{
	font-size:14px;
}
#mc_embed_signup-kaizen input {
	border-radius:4px;
	border: 1px solid #1D1D1D;
	padding:10px;
	width:100%;
}


.name-box{
	margin-bottom:40px;
}

.kaizen-cycle{
	float:right;
}

.kaizen-button{
	width:300px;
}

.kaizen-button::after{
	right:120px;
}

.kaizen-submit{
	width:300px;
	padding:10px 0;
}

  @media(max-width:749px){
	  .footer__row{
		  display: flex;
		  flex-direction: column;
	  }
  }

  @media(max-width:749px){
	.vitamin-column{
		max-width:75vw !important;
	}
}
  
  @media(max-width:749px){
	.email-box{
		width:300px !important;
	}
}

@media(max-width:749px){
  .menu-item{
	  margin: 10px 0px;
  }
}

@media(max-width:749px){
  .footer__inner{
	  padding-top:0;
  }
}

@media(max-width:749px){
  .kaizen-rituals{
	  display: flex;
	  flex-direction: column;
  }
}

@media(max-width:749px){
	.team-immune-left{
		display: none;
	}
}


.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .zoomImg {
    background-color: #1d1d1d;
}

.woocommerce-product-details__short-description{
	margin:0;
	line-height: 70px;
}

.woocommerce-product-details__short-description h2{
	color:var(--global--color-yellow);
}

.woocommerce div.product p.price, .woocommerce div.product span.price{
	color:var(--global--color-yellow);
}

#site-header-cart{
	list-style: none;
}

#site-header-cart a{
	text-decoration:none;
} 

#site-header-cart:hover .widget_shopping_cart{
	display: block;
	position: absolute;
}

#site-header-cart:hover .widget_shopping_cart::before{
	content: "";
	position: absolute;
	z-index: 10;
	height: 30px;
	width: 150px;
	top:-30px;
	right:0;
	pointer-events: none;
}

.widget_shopping_cart{
	display: none;
	z-index: 10;
	background: var(--global--color-white);
	border: 2px solid var(--global--color-red);
	border-color: var(--global--color-red);
	border-radius: 8px;
	padding: 10px;
	color:black;
	width:350px;
	right:0;
}

#site-header-cart .count-mobile{
	display: none;
}
@media (max-width:900px){
	.cart-contents{
		position: relative;
	}
	#site-header-cart .count{
		display: none;
	}
	#site-header-cart .count-mobile{
		display: block;
		display: block;
		position: absolute;
		top: -20px;
		right: -15px;
		padding: -3px;
		background: var(--global--color-yellow);
		color: var(--global--color-black);
		border-radius: 50%;
		height: 20px;
		width: 20px;
		text-align: center;
		font-size: 12px;
	}
}

#masthead .masthead__inner{
	border-bottom: 1px solid #ffffff42;
}

.site-header{
	color: var(--global--color-white);
}

.current_page_item{
	color: var(--global--color-yellow)
}

.headers h1{
	line-height:6px;
}

.headers h2{
	line-height:6px;
}



.products-text{
	margin-top:0;
	margin-bottom:0;
	padding-bottom:5px !important;
}

.products-text-main{
	margin-top:0;
	padding-top:0px !important;
}

.products-head{
	margin:95px 60px 20px !important;
}

.products-info h3{
	padding:0 10px;
}

.products-info p{
	padding:0 10px;
}

.home-info h3{
	padding:0 10px;
}

.home-info p{
	padding:0 10px;
}

.affiliate-card h3{
	padding: 0 40px;
}

.affiliate-card p{
	padding:0 40px;
}
.affiliate-home-button{
	padding-left:40px;
}

.add-to-cart{
	padding-left:50px;
}

.wc-block-grid__product{
	max-width:100% !important;
}

@media( max-width: 480px ){
	.wc-block-grid.has-3-columns .wc-block-grid__product{
		padding:40px;
	}
}

.tree-brand-story{
	margin-top: 200px;
}

.brand-story h1{
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
}

.brand-story h3{
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
}

.vitamin-column{
	max-width: var(--wide-mwidth);
	margin: var(--global--space-gutenberg) auto;
	width: var(--wide-width);
}

.vitamin-column p{
	padding:0;
}

.immune-vitamins h3{
	padding-bottom:0;
	display:flex;
	justify-content:center;
}

.immune-vitamins p{
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
}

.team-immune{
	display:flex;
	justify-content:center;
	margin:0;
	max-width:100%;
	width:100%;
	background-image:linear-gradient(to left,#FFD600 ,#FCFA43);
}

.team-immune-left{
	max-width:15%;
}

.team-immune-right{
	max-width:30vw;
	
}

#menu-social{
	list-style-type:none;
	fill:white;
	display:flex;
	margin-bottom:90px
}

.menu-item{
	list-style-type:none;
}

.menu-item svg{
	margin-right:15px
}

.menu{
	padding:0;
}

.products img {
  padding:10px;
}

#comments{
	display:none
}

.single-product .entry-header{
	color:white;
}

.single-product .summary{
	color:white;
}

.single-product #tab-description{
	color:white;
}


.related.products {
    display: none;
}

.contact-header h3{
	text-align:center;
	padding:0;
	margin:0;
}

.contact-header h1{
	text-align:center;
	padding:0;
	margin:0;
}

.contact-column-right{
	text-align: left;
}

.contact-column-right > *{
	padding: 20px 0 !important;
	margin: 0;
	margin-left:95px;
}

.contact-form-card{
	padding: 35px;
	display: flex;
	justify-content: center;
}

.contact-form-card input{
	width:15vw;
	border-radius: 4px;
	border: 1px solid;
}
.contact-form-card textarea{
	width:15vw;
	margin-bottom:20px;
	border-radius: 4px;
	border: 1px solid;
}
.contact-form-card button{
	width:15vw;
}

.contact-form-card div{
	margin-left:2vw;
}

@media(max-width:900px){
	.contact-form-card input{
		width:90%;
	}
	.contact-form-card textarea{
		width:90%;
	}
	.contact-form-card button{
		width:90%;
	}

}

.form-header-inner{
	font-size: 30px;
}

.form-text-inner{
	font-size: 22px;
	margin: 0 1vw 0 0;
	text-align: left;
}

.affiliate-sc-inner{
	display:flex;
}
.affiliate-sc-img,
.affiliate-sc-text {
	width:100%;
}
.affiliate-sc-img img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.affiliate-sc .button{
	display:inline-block;
	margin-top:40px;
	background: var(--global--color-black);
	color: var(--global--color-primary);
	text-decoration: none;
}

.affiliate-sc .button::after{
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 5.5C0.5 5.35268 0.5602 5.21139 0.667357 5.10722C0.774514 5.00305 0.91985 4.94452 1.07139 4.94452H14.5482L10.9519 1.44946C10.8446 1.34515 10.7843 1.20369 10.7843 1.05618C10.7843 0.908671 10.8446 0.767205 10.9519 0.662901C11.0592 0.558597 11.2047 0.5 11.3565 0.5C11.5082 0.5 11.6537 0.558597 11.761 0.662901L16.3321 5.10672C16.3853 5.15832 16.4276 5.21962 16.4564 5.2871C16.4852 5.35459 16.5 5.42694 16.5 5.5C16.5 5.57306 16.4852 5.64541 16.4564 5.7129C16.4276 5.78038 16.3853 5.84168 16.3321 5.89328L11.761 10.3371C11.6537 10.4414 11.5082 10.5 11.3565 10.5C11.2047 10.5 11.0592 10.4414 10.9519 10.3371C10.8446 10.2328 10.7843 10.0913 10.7843 9.94382C10.7843 9.79631 10.8446 9.65485 10.9519 9.55054L14.5482 6.05548H1.07139C0.91985 6.05548 0.774514 5.99695 0.667357 5.89278C0.5602 5.78861 0.5 5.64732 0.5 5.5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	top: calc(50% - 6px);
	right: 20px;
}

.affiliate-sc-title{
	font-family: var(--global--font-primary);
	font-size: 30px;
	line-height: 30px;
	letter-spacing: -0.03em;
	text-transform: uppercase;
}
.affiliate-sc-text{
	display:flex;
	flex-direction: column;
	padding: 0 60px;
	align-items:flex-start;
	justify-content: center;
}

@media (max-width:900px){
	.affiliate-sc{
		max-width:100%;
	}
	.affiliate-sc-inner{
		flex-direction: column;
	}
	.affiliate-sc-img {
		max-height:453px;
	}
	.affiliate-sc .button{
		margin-bottom:48px;
	}
	.affiliate-sc-text{
		padding: 0 30px;
	}
}

.select2-container{
	color:black;
}

.site-logo{
	width:110px;
}

.site-header{
	position: sticky;
	top: 0;
	background: var(--global--color-black);
	padding-top: 10px;
	z-index: 100;
}

@media(max-width:600px){
	.site-header{
		top:0;
	}
}

.sign-up-button{
	margin-left: 35px;
}

@media(max-width:900px){
	.affiliate-sc{
		padding-top:20px;
	}
}

@media(max-width:900px){
	.footer__row .footer__col {
		width: 100%;
		max-height: 650px;
	}
}

@media(max-width:900px){
    .brand-header{
        margin-bottom: 50px;
        line-height: 100px;
    }
}

@media(max-width:900px){
    .fortify-column {
        margin-top:10px;
		margin-top:20px;
    }
}

@media(max-width:900px){
    .content-fortify p {
		padding: 0;
    }
}

@media(max-width:900px){
    .content-fortify h3 {
		padding: 0;
		text-align: left;
    }
}

@media(max-width:900px){
	.team-immune-right{
		max-width:var(--wide-width)
	}
}

@media(max-width:900px){
	.tree-brand-story{
		margin-top:50px
	}
}

@media(max-width:900px){
	.wp-block-create-block-immune-hero .immune-hero__title{
		font-size: 88px;
		line-height: 60px;
	}
}

@media(max-width:900px){
	.wp-block-create-block-immune-hero .immune-hero__text{
		font-size: 40px;
	}
}

@media(max-width:900px){
	.site-logo{
		max-width: 90px;
	}
}

@media(max-width:900px){
	.read_more_button a{
		margin-left:10px
	}
}

.account-header{
	margin-top:50px;
	margin-bottom: -100px;
	text-transform: uppercase;
	text-align: center;
	font-size: 110px;
	font-weight: 700;
}

@media(max-width:900px){
	.sign-up-button{
		margin-left: -10px;
	}
}

@media(max-width:900px){
	.blocks-gallery-grid .blocks-gallery-image, .blocks-gallery-grid .blocks-gallery-item, .wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item{
		margin: 1em 2em 1em 0;
	}
}

@media(max-width:900px){
	.blocks-gallery-grid, .wp-block-gallery{
		margin: 2em 1em;
	}
}


@media(max-width:525px){
	.site-cta{
		display: none;
	}
}

.woocommerce div.product div.images .flex-control-thumbs {
  margin-top: 12px;
}
