/* Fonts
	========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
  
  /* Variables
	  ========================================================================== */
	  :root {
		/* Spacing */
		--global--space-gutenberg: 68px;
		--width: 80vw;
		--wide-width: 90vw;
		--full-width: 100vw;
		--mwidth:827px;
		--wide-mwidth:1134px;
		--full-mwidth: 100%;
	
		/* Font Family */
		--global--font-primary: 'Oswald', sans-serif;
		--global--font-secondary: 'Source Sans Pro', sans-serif;
	
		--body--font: var(--global--font-secondary);
	
		/* Font Size */
		--global--font-size-base: 1rem;
		--global--font-size-xs: 1rem; 
		--global--font-size-sm: 1.125rem; 
		--global--font-size-md: 1.25rem;
		--global--font-size-lg: 1.5rem;
		--global--font-size-xl: 2.25rem;
		--global--font-size-xxl: 4rem;
		--global--font-size-xxxl: 5rem;
		--global--font-size-page-title: var(--global--font-size-xxl);
		--global--letter-spacing: -0.03em;;
	
		/* Line Height */
		--global--line-height-body: 1.7;
		--global--line-height-heading: 1;
		--global--line-height-page-title: 1;
	
		/* Headings */
		--heading--font-family: var(--global--font-primary);
	
		--heading--font-size-h6: var(--global--font-size-xs);
		--heading--font-size-h5: var(--global--font-size-sm);
		--heading--font-size-h4: var(--global--font-size-lg);
		--heading--font-size-h3: calc(1.25 * var(--global--font-size-lg));
		--heading--font-size-h2: var(--global--font-size-xl);
		--heading--font-size-h1: var(--global--font-size-page-title);
	
		--heading--letter-spacing-h6: 0.05em;
		--heading--letter-spacing-h5: 0.05em;
		--heading--letter-spacing-h4: var(--global--letter-spacing);
		--heading--letter-spacing-h3: -0.05em;
		--heading--letter-spacing-h2: -0.05em;
		--heading--letter-spacing-h1: -0.03em;
	
		--heading--line-height-h6: var(--global--line-height-heading);
		--heading--line-height-h5: var(--global--line-height-heading);
		--heading--line-height-h4: var(--global--line-height-heading);
		--heading--line-height-h3: var(--global--line-height-heading);
		--heading--line-height-h2: var(--global--line-height-heading);
		--heading--line-height-h1: var(--global--line-height-page-title);
	
		--heading--font-weight: normal;
		--heading--font-weight-page-title: 300;
		--heading--font-weight-strong: 600;
	
		/* Colors */
		--global--color-black: #1D1D1D;
		--global--color-dark-gray: #28303d;
		--global--color-gray: #39414d;
		--global--color-light-gray: #f0f0f0;
		--global--color-orange: #e4dad1;
		--global--color-yellow: #FCFA43;
		--global--color-white: #fff;
		--global--color-white-50: rgba(255, 255, 255, 0.5);
		--global--color-white-90: rgba(255, 255, 255, 0.9);
	
		--global--color-primary: var(--global--color-white); /* Body text color, site title, footer text color. */
		--global--color-secondary: var(--global--color-yellow); /* Headings */
		--global--color-primary-hover: var(--global--color-primary);
		--global--color-background: var(--global--color-black);
		--global--color-border: var(--global--color-primary); /* Used for borders (separators) */
	
		/* Elevation */
		--global--elevation: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
	
		/* Forms */
		--form--font-family: var(--global--font-secondary);
		--form--font-size: var(--global--font-size-sm);
		--form--line-height: var(--global--line-height-body);
		--form--color-text: var(--global--color-dark-gray); 
		--form--color-ranged: var(--global--color-secondary);
		--form--label-weight: 500;
		--form--border-color: var(--global--color-secondary);
		--form--border-width: 3px;
		--form--border-radius: 0;
		--form--spacing-unit: calc(0.5 * var(--global--spacing-unit));
	
		/* Cover block */
		--cover--height: calc(15 * var(--global--spacing-vertical));
		--cover--color-foreground: var(--global--color-white);
		--cover--color-background: var(--global--color-black);
	
		/* Buttons */
			/* Colors */
		--button--color-text: var(--global--color-background);
		--button--color-text-hover: var(--global--color-secondary);
		--button--color-text-active: var(--global--color-secondary);
		--button--color-background: var(--global--color-secondary);
		--button--color-background-hover: var(--global--color-background);
		--button--color-background-active: var(--global--color-background);
			/* Fonts */
		--button--font-family: 'Oswald', sans-serif;
		--button--font-size: var(--global--font-size-base);
		--button--font-weight: 600;
		--button--line-height: 1.5;
		--button--font-style: normal;
			/* Borders */
		--button--border-width: 0;
		--button--border-radius: 4px;
			/* Spacing */
		--button--padding-vertical: 15px;
		--button--padding-horizontal: calc(2 * var(--button--padding-vertical));
	}

.editor-styles-wrapper{
	background: var(--global--color-black);
	color: var(--global--color-white)
}

/* Group */
.is-style-card-white,
.card-white{
	background: var(--global--color-white);
	border: 2px solid var(--global--color-red);
	border-color: var(--global--color-red);
	border-radius: 8px;
	padding: 10px;
}

/* Buttons */
.block-editor-inner-blocks .wp-block-button__link,
.is-style-black-button .wp-block-button__link,
.is-style-black-button > * {
	background: var(--global--color-black);
	border: none;
	color: white;
	font-weight: bold;
	border-radius: 4px;
}
.is-style-yellow-button  .wp-block-button__link,
.is-style-yellow-button > * {
	background: var(--global--color-yellow);
	border: none;
	color:black;
	font-weight: bold;
	border-radius: 4px;
}
.is-style-white-button > * {
	background: var(--global--color-white);
	color: var(--global--color-red);
	border-radius: 10px;
}

.is-style-black-button > *,
.is-style-yellow-button > *,
.is-style-white-button > *{
	position: relative;
}


.is-style-black-button > *::after,
.is-style-yellow-button > *::after,
.is-style-white-button > *::after{
	content: "";
	position: absolute;
	width:16px;
	height:16px;
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 5.5C0.5 5.35268 0.5602 5.21139 0.667357 5.10722C0.774514 5.00305 0.91985 4.94452 1.07139 4.94452H14.5482L10.9519 1.44946C10.8446 1.34515 10.7843 1.20369 10.7843 1.05618C10.7843 0.908671 10.8446 0.767205 10.9519 0.662901C11.0592 0.558597 11.2047 0.5 11.3565 0.5C11.5082 0.5 11.6537 0.558597 11.761 0.662901L16.3321 5.10672C16.3853 5.15832 16.4276 5.21962 16.4564 5.2871C16.4852 5.35459 16.5 5.42694 16.5 5.5C16.5 5.57306 16.4852 5.64541 16.4564 5.7129C16.4276 5.78038 16.3853 5.84168 16.3321 5.89328L11.761 10.3371C11.6537 10.4414 11.5082 10.5 11.3565 10.5C11.2047 10.5 11.0592 10.4414 10.9519 10.3371C10.8446 10.2328 10.7843 10.0913 10.7843 9.94382C10.7843 9.79631 10.8446 9.65485 10.9519 9.55054L14.5482 6.05548H1.07139C0.91985 6.05548 0.774514 5.99695 0.667357 5.89278C0.5602 5.78861 0.5 5.64732 0.5 5.5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	top:calc(50% - 6px);
	right:20px;
}

.wp-block-spacer.is-style-negative{
	margin-top:-220px;
	height:0;
}

/* Embed */
.wp-block-embed.is-style-rounded {
	max-width: var(--mwidth);
	padding:5%;
	margin-left: auto;
	margin-right: auto;
}
.wp-block-embed.is-style-rounded iframe {
	border: 1px solid var(--global--color-blue);
	box-sizing: border-box;
	filter: drop-shadow(0px 24px 100px rgba(2, 28, 52, 0.7));
	border-radius: 24px;
}
